# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask specific
instance/
*.pyc


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
test-reports/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask-Dotenv
.env
.flaskenv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

logs.txt

# Pyre type checker
.pyre/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py


# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# MkDocs documentation
/site

# PyBuilder
target/

# Jupyter Notebook metadata
.ipynb_checkpoints

# mypy
.mypy_cache/

# Coveralls reports
.coverage

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# pytest
.pytest_cache/

#Folders that are being used for storing files
/Uploads
/GeneratedCodes
/GeneratedCsv
/GeneratedJSON