body {
    overflow: hidden;
}

.track, .plane {
    opacity: 0;
    transition: opacity 0.75s ease-in;
}

.track.visible, .plane.visible {
    opacity: 1;
}

.spin {
    animation: spin 3s cubic-bezier(0.4, 0.3, 0.2, 1) infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}